.container{
    //background-color: aquamarine;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}


.containerCol{
 //   background-color: red;
    width: 90%;

}


.tareaContainer{
    background-image: linear-gradient(to left, #1aaebe, #105b8c );
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 30px;
    margin-top: 20px;
    height: 9vh;
    

}

.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   // background-color: red;

}

h2{
    text-align: center;
}


ion-col{
    
    
   text-align: center;
}


ion-checkbox{
    --checkbox-background-checked: rgb(41, 146, 41);
}

