<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tareas Pendientes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row  size-sm="12">
<ion-col size-lg="3"></ion-col>
    <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="6" >

  
<div class="container" >
  <div class="containerCol" *ngFor="let tarea of tareasPendientes">
  <!--<app-tarea  [dataEntrante]="tarea" ></app-tarea>-->


  <div [style.text-decoration]="tarea.completado? 'line-through' :'none'"   class="tareaContainer">
    <div [routerLink]="['/detalle-tarea',tarea.id]" class="title">
      <p>{{tarea.titulo}}</p>
    </div>
    <div  (click)="getDatosTarea(tarea)" class="completed">
      <ion-checkbox    [(ngModel)]="tarea.completado" ></ion-checkbox>
    </div>
  </div>



  
</div>
</div>
</ion-col>
</ion-row>
</ion-content>