

.formContainer{
    background-color: beige;
    border-radius: 20px;
    width: 90%;
}

ion-card{
 //   background-color: rgb(239, 239, 239);
   // color: #000000;
}
ion-card-title{
    //color: #000000;

}
label{
    //color: #000000;

}

ion-item{
    //--background:rgb(239, 239, 239);
    
}

ion-input{
  //  background-color:rgb(239, 239, 239);
//    color: #000000;
}


ion-textarea{
    //background-color:rgb(239, 239, 239);
    //color: #000000;
}

ion-checkbox{
    //background-color:rgb(239, 239, 239);
    //color: #858585;
}